<%- include('./templates/top.ejs') %>
<h2>Name: <%= user.name %> </h2>
<h2>Age: <%= user.age %> </h2>
<h2>Gender: <%= user.gender %> </h2>
<h2>Weight: <%= user.weight %> </h2>
<%- include('./templates/bottom.ejs') %>
